html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #8b8c89;
}

body {
    background-color: #6096ba;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

img {
    width: 300px;
    min-width: 100%;
}

h2 {
    text-transform: uppercase;
}

button {
    width: 120px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: none;
    border: 1px solid #274c77;
    border-radius: 15px;
    color: #274c77;
    padding: 8px 13px;
    cursor: pointer;
}

button:hover, button:focus {
    background-color: #274c77;
    color: #e7ecef;
}

.plan {
    background-color: #e7ecef;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    width: 100%;
    max-width: 700px;
}

.pricing_plan {
    margin: 10px 0px;
    border-bottom: 1px solid #6096ba;
    padding: 15px;
}

.pricing_plan:last-child {
    margin: 10px 0px;
    border-bottom: none;
}

.price {
    border-bottom: none;
    color: #6096ba;
    font-size: 2rem;
}

@media (min-width: 600px) {
    .plan {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .pricing_plan.weekly img {
        height: 200px;
    }
    .pricing_plan.yearly img {
        height: 200px;
    }
    .pricing_plan.monthly {
        border-bottom: none;
    }
}

